.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.header-first{
    display: flex;
    align-items: center;
    width: 170px;
}

.menu{
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube{
    height: 20px;
}





.header-mid{
    background-color: white;
    flex: 1;
    margin-left: 70px;
    margin-right: 20px;
    max-width: 600px;
}

.header-third{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px
}

.create{
    height: 24px;
}

.notif{
    height: 24px;
}

.gmail{
    height: 32px;
    border-radius: 50px;
    margin-right: 20px;
}