.thumbnail1{
    width: 100%;
    border-radius: 15px;
}


.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 20px;
}

.horizontal-row{
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px;
}


.profile-picture{
    width: 41px;
    border-radius: 50px;
}

.video-title{
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 5px;
    color: rgb(225, 225, 225);
}

.video-author{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(132, 132, 132);
}

.video-stats{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(132, 132, 132);
}
